body {
    font-weight: 400;
    font-size: 1.5em;
    background-color: #ededed;
}

.container {
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #ffffff
}

.imghead {
    display: inline-block;
    margin-top: -85px;
}

.header .headimg {
    background-color: #ededed;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.headimg img {
    width: 150px;
    height: 150px;
}

.header span {
    color: #F0563D;
}

.header sup {
    color: #9B9B9B;
}

h1,
h2,
h4,
h5,
h6 {
    font-weight: bold;
}

.header .line {
    background-color: #ededed;
    width: 100%;
    height: 3px;
    margin-right: 10px;
}

h4 {
    color: #F0563D;
    margin-bottom: 25px;
    
}



.row {
    margin-bottom: 20px;
}

.intro {
    
    padding: 5px 0px 5px 20px;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.exep span{
    color: #737373;
    margin: 0px;
}
.exep h5{
    margin: 0px;
    
}
.exep .poi{
    padding: 5px 0px 5px 50px;
}
.exep .poi h5{
    margin-bottom: 10px;
}




.contact{ border: 1px solid #fff;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 0px;
}

.icon { 
    color: #D7D7D7;
    width:50px;
    height: 50px;
    padding: 5px;
    margin-right: 20px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    float: left;
    font-size:30px;
}

.info{
    width: 100px;
    height: 40px;
    float: left;
    
}
.info h5,span{
    padding: 0px;
    margin: 0px;
}
.info span{
    color: #9B9B9B
}

.info h5{
    color: #4B4B4B;
    
}

.skills .item{
    background-color: #F0563D;
    color: #FFF;
    padding: 6px;
    padding-left: 10px;
    text-align: left;
    margin: 0px 20px 5px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lang .row{
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;

}
.lang i{
    margin-right: 10px;
    
}
.hobby ul{
    padding-left: 0px;
    list-style-type: none;
    padding: 0px;
    
}

.hobby ul li{
    padding: 5px;
    color: #fff;
    background-color:#A75265;
    display: inline-block;
    margin-right: 10px;
}
.hobby ul li i{
    margin-right: 5px;
}

.hobby ul li span{
    margin-right: 5px;
}
